{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Discussion Threads for {{ course.title }}</h1>
    <ul class="list-group">
        {% for thread in threads %}
            <li class="list-group-item">
                <a href="{% url 'thread_replies' course.id thread.id %}"><b>{{ thread.title }}</b></a>
                <br>
                <small><i>By {{ thread.user.username }} on {{ thread.created_at }}</i></small>
            </li>
        {% empty %}
            <li class="list-group-item">
                No threads yet. <a href="{% url 'create_thread' course.id %}">Create one</a>!
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
